.main-container {
    width: 75%;
    padding-top: 2%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

input[type='text'] {
    width: 100%;
}

textarea {
    width: 100%;
}

label {
    margin-right: 5px;
}